nav {
    display: flex;
    border-bottom: 2px solid #E9EBEE;
    justify-content: space-between;
    align-items: center;
    margin: 0;
    padding: 0rem 1rem;
}

body {
    /* Stop the content of the webpag from shriking. This does not prevent the window from shrinking,
    just the content of the webpage from shrinking anymore. */
    min-width: 390px;
    font-family: "Inter";
}

.container {
    border: 1px solid red;
    margin-left: auto;
    margin-right: auto;
    padding-left: 0.5rem;
    padding-right: 0.5rem;
}

.horizontal-shoes {
    display: flex;
}
.shoes-for-sale {
    text-align: left;
    margin-left: 2rem;
}
.shoe-img {
    background-color: #F4F4F4;
    border-radius: 20px;
    padding: 4rem 2rem 5rem 2rem;
}

#green-nike-png {
    margin-top: 1rem;
    margin-bottom: .5rem;
}

#hero-card {
    text-align: center;
    width: 20rem;
    height: 23rem;
    margin: 1rem auto;
    background-color: #EAEEEF;
    border-radius: 20px;
    border: 1px solid red;
}

#hero-percentage {
    color: #EC5E2A;
    font-weight: 500;
    margin: 0rem;
}

#hero-text {
    margin: 0rem;
}

#hero-subtext {
    font-weight: 200;
    margin: 1rem;
}

#hero-button {
    margin: 2rem 2rem;
    padding: .5rem 1rem;
    border: 1px solid black;
    border-radius: 5px;
    background-color: #201B21;
    color: white;
}

#company-logo {
    display: flex;
    justify-content: left;
    align-items: center;
}

#company-name {
    margin-left: .75rem;
    font-size: 16px;
    font-weight: 500;
}

#company-png {
    width: 1.5rem;
    height: 1.5rem;
}

#cart-button {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid black;
    border-radius: 10px;
    padding: .5rem 1.5rem;
}

#cart-img {
    width: .8rem;
    height: .8rem;
    padding-right: .6rem;
}

#cart-text {
    margin: 0px;
    font-size: 13px;
}

#subsection-title {
    text-align: center;
    margin: 3rem auto;
    width: 20rem;
    border: 1px solid red;
}